gym==0.15.4
hydra-core==0.11.3
mllogger==0.3
mujoco-py<2.2,>=2.1
dm_control
numpy==1.17.4
opencv-python==4.1.1.26
pyvirtualdisplay==0.2.4
scikit-image==0.16.2
scikit-video==1.1.11
tensorboard==2.1.1
termcolor==1.1.0
tqdm==4.38.0
